apiVersion: console.mia-platform.eu/v1alpha1
resource: configurations
type: configuration
syncable: true
mappings:
  identifier: |-
    {{ printf "%s--%s" .data.project._id .data.revision.name }}
  spec:
    projectUniqueId: "{{ .data.project._id }}"
    projectId: "{{ get \"projectId\" .data.project \"\" | quote }}"
    tenantId: "{{ .data.project.tenantId }}"
    revisionName: "{{ .data.revision.name }}"
    configuration: "{{ .data.configuration | toJSON }}"
