name: Lint Golang Code
on:
  push:
    branches:
    - main
  pull_request:

permissions: {}

jobs:
  lint:
    name: Lint Code
    runs-on: ubuntu-latest
    env:
      GOLANGCI_LINT_VERSION: "v2.8.0"
    permissions:
      contents: read
    steps:
    - name: Checkout Repository
      uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1
      with:
        show-progress: false
    - name: Setup Golang
      uses: actions/setup-go@4dc6199c7b1a012772edbd06daecab0f50c9053c # v6.1.0
      with:
        go-version-file: go.mod
    - name: golangci-lint
      uses: golangci/golangci-lint-action@1e7e51e771db61008b38414a730f564565cf7c20 # v9.2.0
      with:
        version: ${{ env.GOLANGCI_LINT_VERSION }}
        install-only: true
    - name: Run lint
      run: make ci-lint
